#####################################################################################
;::: Machine start G-code:::

M117 Heating - nozzle temp: first_layer_temperature
M104 S[first_layer_temperature] ; set extruder temp
M109 S[first_layer_temperature] ; wait for extruder temp

PRINT_START 

G90 ; use absolute coordinates
M83 ; extruder relative mode
M204 S[machine_max_acceleration_extruding] T[machine_max_acceleration_retracting]   # Set acceleration

M117 Heating  - bed: bed_temperature_initial_layer_single  &  nozzle temp: 0°C
M104 S0
M140 S[bed_temperature_initial_layer_single] ; set bed temp

M117 Heating  - bed: bed_temperature_initial_layer_single  &  nozzle temp: first_layer_temperature
M190 S[bed_temperature_initial_layer_single]    # Set bed temp and wait until reached
M104 S[first_layer_temperature]                 # Set extruder temp
M109 S[first_layer_temperature]                 # Set extruder temp and wait until reached

;QUAD_GANTRY_LEVEL

M117 Clean Nozzle
CLEAN_N S=[first_layer_temperature] X=240 Y=-3 A=0 D=0.4

M117 Quad Level 1: QUAD_GANTRY_LEVEL_BASE
QUAD_GANTRY_LEVEL_BASE  horizontal_move_z=10 retry_tolerance=1 LIFT_SPEED=5
G28 Z

M117 Quad Level 2: QUAD_GANTRY_LEVEL_BASE
QUAD_GANTRY_LEVEL_BASE  horizontal_move_z=5 retry_tolerance=0.05 LIFT_SPEED=5

M117 Bed Mesh Level
G1 X132.5 Y197.5
G28 N
BED_MESH_CALIBRATE

M117 Heating - nozzle temp: first_layer_temperature
G1 X275.0 Y0.0 Z0.3 F1500 ; move print head up
M104 S[first_layer_temperature] ; set extruder temp
M109 S[first_layer_temperature] ; wait for extruder temp

M117 Intro_LINE
INTRO_LINE D=0.4 ;intro line with 0.4 mm nozzle

#####################################################################################
;::: Machine end G-code ::: 
PRINT_END

#####################################################################################
;::: Before layer change G-code ::: 
;BEFORE_LAYER_CHANGE
;[layer_z]
G92 E0

#####################################################################################
;::: Layer change G-code ::: 
;AFTER_LAYER_CHANGE
;[layer_z]

#####################################################################################
;::: Pause G-code :::
Pause
