################################################################################################
# File: famr3d.service
# Author: Eryone / Andreas
# Date: 20250602 / 20250823
# purpose: x11cnv as service to access KlipperScreen via VNC.
#
# Andreas replaced:
#   - hard coded path with ~
#   - USer=mks with user=pi
# Both will be replaced with the actual path and user by the /farm3d/install.sh script. 
#
################################################################################################

[Unit]
Description=farm3d
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=~/farm3d/
#Environment=""
ExecStart="~/farm3d/run.sh"

[Install]
WantedBy=multi-user.target
