[Unit]
Description=farm3d
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mks
WorkingDirectory=/home/mks/farm3d/
#Environment=""
ExecStart="/home/mks/farm3d/run.sh"

[Install]
WantedBy=multi-user.target
