################################################################################################
# File: Andreas_extensions.cfg
# Author: Andreas
# Date: 20250925
# purpose: Zukünfitge Ideen / Erweiterungen
# 
# Content
# - Temoperature and Colling
# - endstop calibration
# - ?
#
################################################################################################


################################################################################################
# Read test 
################################################################################################
[gcode_macro read_test]
gcode:
    {% set HOMING_STEPPER_XY_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_xy_run_current|default(0.49))|float %}
    M117 Current: { '%.2f'|format(HOMING_STEPPER_XY_RUN_CURRENT) }


################################################################################################
# M117 
################################################################################################
[gcode_macro M117_2]
description: Show message in Mainsail console and display
# ??? !!! Klipper errors, that this macro already exists.
gcode:
  {% set msg = params.MSG|default("") %}
  SET_DISPLAY_TEXT MSG="{msg}"
  RESPOND PREFIX="display" MSG="{msg}"


################################################################################################
# MOVE_UP
################################################################################################
[gcode_macro MOVE_UP]
# source: https://www.klipper3d.org/Command_Templates.html
gcode:
  SAVE_GCODE_STATE NAME=my_move_up_state
  G91
  G1 Z10 F300
  RESTORE_GCODE_STATE NAME=my_move_up_state #  G-Code parsing state 


####################################################################
# Printer off switch
# source: https://docs.mainsail.xyz/overview/quicktips/printer-power-switch
#####################################################################
[power printer]
# This avoides the error when a printer is powered off. Instead a button to power it on is shown in mainsail
# Prerequisits: 1) Mainsail running, even if the printer is powered off. 2) Printer is connected to a switchable socket.

# Important is the name "printer" and the attribute "bound_services: klipper".
# Mainsail will use this power device to check for a "powered off" printer.

# There are different ways to power o/off the printer:
# For a GPIO-based relay (e.g., connected to a Raspberry Pi pin):
  type: gpio
  pin: gpiochip0/gpio4  # Adjust to your GPIO pin
  on_value: 1  # Value to turn on (high/low depends on relay)
# For a USB relay (e.g., via HID):
  type: hid
  device: /dev/hidraw0  # Check with `ls /dev/hidraw*`
  on_command: "relay 1 on"  # Relay-specific command
# For a network-based smart plug (e.g., TP-Link via Kasa plugin):
  type: kasa
  host: 192.168.1.100  # IP of the smart plug

# Bind the device to Klipper services to enable automatic detection:
bound_services: klipper  # This links it to Klipper; use commas for multiple (e.g., klipper,nginx)


####################################################################
# PMCU FAN CONTROL
# source: https://github.com/Rappetor/Sovol-SV08-Mainline/blob/main/files-used/config/printer.cfg
#####################################################################
# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
#[controller_fan MCU_fan]
#pin: PA1
#max_power: 1
#kick_start_time: 0.5
#fan_speed: 1
#idle_timeout: 300
#heater: extruder, heater_bed
#stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan






################################################################################################
################################################################################################
### MCU Update
# # $ ~/klippy-env/bin/python ~/katapult/scripts/canbus_query.py can0     # UUID ermitteln
################################################################################################
################################################################################################
[gcode_shell_command shell_mcu_update]
command: /home/andreas/printer_data/scripts/mcu_update.sh {params}      # executes the shell command mcu_update.sh
                                                                    # ??? ttyACM0 muß geprüft werdne ???
timeout:120                                                         # Maximum tine Klipper will wait for the script to complete before aborting. (in seconds)
verbose: True

########################################
[gcode_macro mcu_board_update]
description: Flash the MCU (STM32) on the Skipr board via USB bus
 #$ make -j4 flash FLASH_DEVICE=/dev/ttyACM0
gcode:
  {% set cfg  = "~/printer_data/make_config_files/stm32f407_firmware.config" %}           # config file for make menuconfig
  {% set flash_device = "/dev/ttyACM0" %}                                                 # FLASH_DEVICE = PORT für STM43f407 auf MKS Skipr board
  {% set uuid = printer.configfile.settings["mcu"]["canbus_uuid"] %}                      # UUID
  {% set args = "-m usb -c " ~ cfg ~ " -d " ~ flash_device ~ " -u " ~ uuid %}             # Combine it to a string
  RUN_SHELL_COMMAND CMD=shell_mcu_update PARAMS={% raw %}{{ args }}{% endraw %}              # Calls the gcode_shell_command sh_mcu_update
  
  #RUN_SHELL_COMMAND CMD=shell_mcu_update PARAMS="-m usb -c {{ cfg }} -d {{ flash_device }} -u {{ uuid }}"    # Calls the gcode_shell_command sh_mcu_update

########################################
[gcode_macro mcu_toolhead_update]
description: Flash the Controller (RP2040) on the toolhead board via CAN bus
gcode:
  {% set cfg  = "~/printer_data/make_config_files/eecan_firmware.config" %}         # config file for make menuconfig
  {% set flash_device = "2e8a:0003???" %}                                           #
  {% set uuid = printer.configfile.settings["mcu EECAN"]["canbus_uuid"] %}          # UUID
  {% set args = "-m usb -c " ~ cfg ~ " -u " ~ uuid %}                               # Combine it to a string
  RUN_SHELL_COMMAND CMD=shell_mcu_update PARAMS={% raw %}{{ args }}{% endraw %}        # Calls the gcode_shell_command sh_mcu_update

########################################
[gcode_macro mcu_linux_update]
description: update the Linux MCU
gcode:

########################################
[gcode_macro mcu_all_pdate]
description: Flash the Skipr board MCU and the toolhead board controller
gcode:
  mcu_board_update
  mcu_toolhead_update
  mcu_linux_update



################################################################################################
################################################################################################
### Varia
################################################################################################
################################################################################################

#####################################################################
# Backup button
#####################################################################
[gcode_shell_command shell_backup]
command: ~/x400-software-pack/scripts/scripts/backup.sh   # Creates a local backup and copies it to SMB/GitHub
#command: id
timeout: 10
verbose: True

[gcode_macro Backup]
gcode:
  RUN_SHELL_COMMAND CMD=shell_backup


#####################################################################
# Update button
#####################################################################

[gcode_shell_command shell_update_x400_software_pack]
command: ~/x400-software-pack/scripts/update.sh     # Pulls the newest x400-software-pack and installs it
timeout: 10
verbose: True

[gcode_macro update_x400_software_pack]
gcode:
  RUN_SHELL_COMMAND CMD=shell_update_x400_software_pack




#####################################################################
# Enstop calibration
#####################################################################
[endstop_phase]
# End Stop hapse calibration. Nur mit TCM Driver which are connected via UART.
# https://youtu.be/nqGv3xfeXKA?si=EbVUe6v6otJsaKoY&t=696
