################################################################################################
# File: chamber_temp_mgmt.cfg
# Author: Eryone / Andreas
# Date: 20250618 / 20250925
# Purpose: Chamber temperature management with chamber heater and chamber exhaust fan
# 
# Eryone has not included this in the printer.cfg
# Andreas created the code and added the file tothe printer.cfg
#
# Included in printer.cfg
################################################################################################
# OrcaSlicer use M141/M191 command to control active chamber heater.
# Infos: https://github.com/SoftFever/OrcaSlicer/wiki/chamber-temperature
#
# With two heaters: https://forum.makerforums.info/t/setting-up-chamber-heating-with-klipper-and-octoprint/88471/3
################################################################################################


################################################################################################
# Temperature sensor 2
################################################################################################
[temperature_sensor chamber_temperature_2]
sensor_type: Generic 3950
sensor_pin: PC2
min_temp: 10
max_temp: 45       # The min_temp & max_temp: Maximum range of valid temperatures (in Celsius) that the heater (sensor) must remain within.
                   # This controls a safety feature implemented in the micro-controller code - should the measured temperature ever fall outside this range then the micro-controller will go into a shutdown state.
                   # This check can help detect some heater and sensor hardware failures.
#gcode_id:         # The id to use when reporting the temperature in the M105 command.



################################################################################################
# Temperature sensor
################################################################################################
# !!!
# ??? !!! REMOVE if second temperature sensor is installed. Also change [temperature_fan chamber_exhaust_fan] sensor_pin to PC2 !!!
# !!!
[duplicate_pin_override]
pins: PC1                   # A comma separated list of pins that may be used multiple times in a config file without normal error checks. This parameter must be provided.
# This tool allows a single micro-controller pin to be defined multiple times in a config file without normal error checking.
# This is intended for diagnostic and debugging purposes.
# This section is not needed where Klipper supports using the same pin multiple times, and using this override may cause confusing and unexpected results.


################################################################################################
# Chamber Heater
################################################################################################
[heater_generic chamber_heater]
     # Use the SET_HEATER_TEMPERATURE command (https://www.klipper3d.org/G-Codes.html#heaters) to set the target temperature.
gcode_id: chamber_heater            # Internal name that tells Klipper how to call this device when you reference it in G-code.
                                    # The id to use when reporting the temperature in the M105 command.
heater_pin: PB1 # Port name on SKIPR board: HE0      # Eryone uses "[multi_pin ptc_fan] pins: PB0, PB1". PB0 is not used!
max_power: 1.0                      # Max heater power

sensor_type: Generic 3950           # Orca Slicer note: here the temperature sensor should be the sensor you are using for chamber temperature, not the PTC sensor: sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PC1

smooth_time: 10                     # Sets a low-pass filter (in seconds) for the temperature readings. In seconds

control = pid                       # Values: pid, watermark. PID for stable Temperatur. Alternative: watermark --> on/off only
# This is commented out, because the values are stores in the printer.cfg file.
    # How to calibrate: See printer.cfg
#pid_Kp:                            # proportional (pid_Kp)
#pid_Ki:                            # integral (pid_Ki)
#pid_Kd:                            # derivative (pid_Kd)

pwm_cycle_time: 0.25                # Sets the full on/off cycle length for PWM (Pulse Width Modulation). in seconds. Default: 0.100

min_temp: -10                       # Temperature ranges in which the system operates. 
max_temp: 65                        # Temperature ranges in which the system operates.

###################################################
# [heater_fan chamber_heater_fan]
# not needed.
# The chamber_heater_fan is hard wired to the chamber_heater. It turns on when the heater turns on.

###################################################
[verify_heater chamber_heater]      # Klipper`s safety watchdog for the chamber heater
# Watchdog for chamber heater
max_error: 120                      # This is the maximum cumulative temperature error before rising an error.  Bigger number = more tolerance before Klipper gives up.
                                    #    Smaller values result in stricter checking and larger values allow for more time before an error is reported.
                                    #    Specifically, the temperature is inspected once a second and if it is close to the target temperature then an internal "error counter" is reset;
                                    #    otherwise, if the temperature is below the target range then the counter is increased by the amount the reported temperature differs from that range.
                                    #    Should the counter exceed this "max_error" then an error is raised. Default: 120.
                                    #   Eryone: 120
check_gain_time: 60                 # Time (in seconds) allowed for the heater to gain at least heating_gain degrees after turning on.
                                    #   This controls heater verification during initial heating. Smaller values result in stricter checking and larger values allow for more time before an error is reported.
                                    #   Specifically, during initial heating, as long as the heater increases in temperature within this time frame (specified in seconds) then the internal "error counter" is reset.
                                    #   Default: 20 (for extruders) and 60 (for heater_bed).
                                    #   Eryone: 10
hysteresis: 10                      # When near the target temp, the watchdog ignores variations inside this ±°C band.
                                    #   The maximum temperature difference (in Celsius) to a target temperature that is considered in range of the target.
                                    #   This controls the max_error range check. It is rare to customize this value. Default: 5.
                                    #   Eryone: 10
heating_gain: 0.05                  # This is the minimum temperature increase (°C) expected within the check_gain_time.
                                    #   The minimum temperature (in Celsius) that the heater must increase by during the check_gain_time check. It is rare to customize this value. Default: 2.
                                    #   Eryone: 0.03


################################################################################################
# chamber exhaust filter fan
################################################################################################
[temperature_fan chamber_exhaust_fan]
    # A "temperature fan" is a fan that will be enabled whenever its associated sensor is above a set temperature.
        # If pid: The fan speed is proportional to the overtemperature.
    # When [idle_timeout] is triggered, the target_temp of the chamber:exhaust_fan is set again. See [idle_timeout]
pin: PA1    # Port name on SKIPR board: FAN1    # Where the fan is connected to
max_power: 1.0
shutdown_speed: 0               # When klipper shuts down, it sets the speed of the fan to that value, instead tunring it off. Default: 0
cycle_time: 0.01                # The amount of time (in seconds) for each PWM power cycle to the fan. default is 0.010 seconds.
hardware_pwm: False             # Enable this to use hardware PWM instead of software PWM.  The default is False.
kick_start_time: 0.5            # Time (in seconds) to run the fan at full speed when either first enabling or increasing it by more than 50% (helps get the fan spinning). The default is 0.100 seconds.
off_below: 0.1                  # When fan speed is lower then off_below, the fan will be turnes off. Avoids running the fan at extremely low duty cycles where it might just stall, buzz, or overheat its electronics. The default is 0.0.

sensor_type: Generic 3950       # Type of sensor
sensor_pin: PC1                 # The temeperature sensor.

max_delta: 0.5      # Required for 'watermark' controlled heaters. This is the number of degrees in Celsius above the target temperature before disabling the heater as well as the number of degrees below the target before re-enabling the heater. The default is 2 degrees Celsius.
                    # Originall value: 2. But not usefull anymore, due to andreas_chamber_heater_chamber_fan_temperature_delta
min_temp: -10       # Temperature ranges in which the system operates. 
max_temp: 75        # Temperature ranges in which the system operates.

control: watermark  # Control algorithm. Either pid or watermark. When PID is enabled, the pid_Kp, pid_Ki, and pid_Kd parameters must be provided. Values: pid, watermark
# This is commented out, because the values are stores in the printer.cfg file.  -  OR not rellevnte because control is set to watermark
    # How to calibrate: See printer.cfg
#pid_Kp:                        # proportional (pid_Kp)
#pid_Ki:                        # integral (pid_Ki)
#pid_Kd:                        # derivative (pid_Kd)
#pid_deriv_time: 2.0             # A time value (in seconds) over which temperature measurements will be smoothed when using the PID control algorithm. This may reduce the impact of measurement noise. The default is 2 seconds.

target_temp: 40                 # A temperature (in Celsius) that will be the target temperature. Default: 40
                                # This is the initial value and will be overwritten by M141/M191 (chamber temperature).
                                # fan will be enabled whenever its associated sensor is above a set temperature.
max_speed: 1.0                  # The fan speed (expressed as a value from 0.0 to 1.0) that the fan will be set to when the sensor temperature exceeds the set value. The default is 1.0.
min_speed: 0.3                  # The minimum fan speed (expressed as a value from 0.0 to 1.0) that the fan will be set to for PID temperature fans. The default is 0.3.

#gcode_id: chamber_exhaust_fan   # If set, the temperature will be reported in M105 queries using the given id. The default is to not reporting the temperature via M105.



################################################################################################
# Gcode macros which allows to set the chamber temperature in a slicer.
################################################################################################
# OrcaSlicer use M141/M191 command to control active chamber heater.
# If your Filament's Activate temperature control and your printer Support control chamber temperature option are checked , OrcaSlicer will insert M191 command at the beginning of the gcode (before Machine G-code).

# To set the chamber temperature to the value specified for the first filament: M191 S{chamber_temperature[0]}
# To set the chamber temperature to the highest value specified across all filaments: M191 S{overall_chamber_temperature}
# Source: https://github.com/SoftFever/OrcaSlicer/wiki/chamber-temperature

#####################################################################
[gcode_macro M141]
description: Sets the chamber target temperature. No waiting until reached.
gcode:
    {% set chamber_target_temeperature = params.S|default(0)|float %}   # Save the target chamber tememperature in variable: chamber_target_temeperature
    {% set bed_target_temperature_initial_layer = params.BS|default(0)|float %}   

    {% if chamber_target_temeperature == 0 %}       # If target temperature is 0, do nothing
        #M117 Chamber target temperature is set to 0°C --> Doing nothing. No chamber-heating, leaving chamber_exhaust_fan at default values. # Make sense at start, but not if chamber temp may be controlled during print.
        _SET_CHAMBER_TEMPERATURE S={chamber_target_temeperature} BS={bed_target_temperature_initial_layer}      # Call the macro to set chamber temperature
    {% elif chamber_target_temeperature > 0 %}
        _SET_CHAMBER_TEMPERATURE S={chamber_target_temeperature} BS={bed_target_temperature_initial_layer}      # Call the macro to set chamber temperature
    {% else %}
        M117 Temperature not >=0°C --> Doing nothing. No chamber-heating, leaving chamber_exhaust_fan at default values.
        # If target temperature is not above 0°C, do nothing
        _SET_CHAMBER_TEMPERATURE S=0 
    {% endif %}

####################################################################
[gcode_macro M191]
description: Sets chamber target temperature and waits until the target temperature is reached.
# If chamber target temperature is set below roome temperature, chamber can never reach the target temeprature. In this case the timeout takes effect.
gcode:
    {% set chamber_temperature_max_waiting_time = 15 %}     # Maximum waiting time for chamber to heat up (in minutes)
    {% set chamber_temperature_range = 5 %}                 # Temperature range which is consideres as okay

    {% set chamber_target_temeperature = params.S|default(0)|float %}   # Save the target chamber tememperature in variable: chamber_target_temeperature
    {% set bed_target_temperature_initial_layer = params.BS|default(0)|float %}
    {% set current_chamber_temperature = printer["temperature_fan chamber_exhaust_fan"].temperature|float %}
    
    {% set chamber_check_temeperature = chamber_target_temeperature %}

    {% if chamber_target_temeperature == 0 %}                       # If target temperature is 0, do nothing
        #M117 Chamber target temp 0°C --> Doing nothing. No chamber-heating, leaving chamber_exhaust_fan at default values. # Make sense at start, but not if chamber temp may be controlled during print.
        _SET_CHAMBER_TEMPERATURE S={chamber_target_temeperature} BS={bed_target_temperature_initial_layer}    # Call the macro to set chamber temperature

        {% if printer.save_variables.variables.andreas_room_temperature_sensor|default(False) %} # If there is a temperature sensor (varaible in variables.cfg is manually set to True)
            {% set chamber_check_temeperature = printer["temperature_sensor room_temperature"].temperature %}
        {% else %}
            {% set chamber_check_temeperature = 23 + 5 %}   # 23°C is average room temperature + 5°C to give margine
        {% endif %}

    {% elif chamber_target_temeperature > 0 %}
        _SET_CHAMBER_TEMPERATURE S={chamber_target_temeperature} BS={bed_target_temperature_initial_layer}         # Call the macro to set chamber temperature
    {% else %}
        M117 Temperature not >=0°C --> Doing nothing. No chamber-heating, leaving chamber_exhaust_fan at default values.
        # If target temperature is not above 0°C, do nothing
         _SET_CHAMBER_TEMPERATURE S=0
    {% endif %}

    M117 Waiting until chamber temeprature reached ...       
    #TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={chamber_target_temeperature-1} MAXIMUM={chamber_target_temeperature+1}     # Waits until chamber temeprature is reached. Tolerance: +-1°C. Waits forever, if temperature not reached.
    {% for i in range(0, chamber_temperature_max_waiting_time) %}   # i is increased by range() automatically.
        {% set current_chamber_temperature = printer["temperature_fan chamber_exhaust_fan"].temperature|float %}
        {% if current_chamber_temperature >= chamber_check_temeperature - chamber_temperature_range and current_chamber_temperature <= chamber_check_temeperature + chamber_temperature_range %}    # If current_chamber_temperature is +-5°C arround chamber_target_temperature
            M117 Chamber target temperature reached. Start printing.

            {% set continue_loop = false %}     # Set flag to stop loop
            #i = chamber_temperature_max_waiting_time -1 # Exit the loop
        
        {% else %}
            M117 M-191:  Waiting for temperature to be reached ...
            G4 P{60000 * 1}     # Wait a minute
        {% endif %}
        {% if i == chamber_temperature_max_waiting_time - 1 %}
            M117 Timeout: Chamber target temperature could not be reached. Start printing.
        {% endif %}
    {% endfor %}


#####################################################################
[gcode_macro _SET_CHAMBER_TEMPERATURE]
description: Sets the target temperature of the chamber_heater and chamber_exhaust_fan
gcode:
    {% set chamber_heater_target_temeperature = params.S|default(0)|float %}       # Save the target chamber tememperature into the variable: chamber_heater_target_temeperature
    {% set exhaust_fan_target_temeperature = params.FS|default(chamber_heater_target_temeperature)|float %}
    {% set bed_target_temperature_initial_layer = params.BS|default(0)|float %}  
    {% set chamber_heater_chamber_fan_temperature_delta = (printer.save_variables.variables.andreas_chamber_heater_chamber_fan_temperature_delta|default(0))|float %} 

    {% if params.FS %} 
        # do nothing. use handed over FS value.
    {% else %}
        {% if chamber_heater_target_temeperature == 0 %} 
            {% set exhaust_fan_target_temeperature = printer["temperature_fan chamber_exhaust_fan"].target %}
        {% else %}
            {% set exhaust_fan_target_temeperature = chamber_heater_target_temeperature + chamber_heater_chamber_fan_temperature_delta %}
        {% endif %}
    {% endif %}

    M117 Set chamber target temperature to chamber_heater and chamber_exhaust_fan.

    {% if printer.save_variables.variables.andreas_debug_mode %}     # Debuging
        { action_respond_info("chamber_heater_target_temeperature: %.2f" % chamber_heater_target_temeperature) }
        { action_respond_info("exhaust_fan_target_temeperaturer: %.2f" % exhaust_fan_target_temeperature) }
        { action_respond_info("chamber_heater_chamber_fan_temperature_delta: %.2f" % chamber_heater_chamber_fan_temperature_delta) }
    {% endif %}

    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={chamber_heater_target_temeperature}                    # set target temeperature to chamber_heater.
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_exhaust_fan TARGET={exhaust_fan_target_temeperature}     # set target temeperature to chamber_exhaust_fan (tells it when to spin up)
    {% if printer.save_variables.variables.andreas_chamber_heater_supported_by_bed_heater|default(False) %}
        M140 S{bed_target_temperature_initial_layer}     # Print bed heater support heating the chamber.
    {% endif %}
