################################################################################################
# File: KAMP_Settings.cfg
# Author:  KMAP / Andreas
# Date: 20251127
# Purpose: Configuration for KAMP. Klipper Adaptive Meshing and Purging
# 
# source: https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging
#
# included in printer.cfg
################################################################################################

################################################################################################
# Requirements - How to set KAMP up
################################################################################################
# - Bed leveling
#
# In printer.cfg:
#   [include KAMP_Settings.cfg]
#   [exclude_object]
#
# In moonraker.conf, add:
#   [file_manager]
#   enable_object_processing: True
#
# In moonraker.conf, add (optional):
#   [update_manager Klipper-Adaptive-Meshing-Purging]
#   type: git_repo
#   channel: dev
#   path: ~/Klipper-Adaptive-Meshing-Purging
#   origin: https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging.git
#   managed_services: klipper
#   primary_branch: main
#
# In the slicer settings:
#   "label objects" must be active.
#
# In the slicer`s "Machine starting G-code":
#   Ad M117 right before PRINTER_START macro is called.
#       This ensures that adaptive meshing and pruging works.
#       Sometimes Moonraker's object processor is putting exclude object definitions in the wrong spot (AFTER Print_Start rather than before).
#       This is usually fixed if you add M117 before your print_start macro in your slicer's starting gcode. M117 is just a basic "clear display" gcode, but will force the preprocessor to place the definition macros in the correct spot.
################################################################################################


################################################################################################
# Activate KAMP functions
# Below you can include specific configuration files depending on what you want KAMP to do:
################################################################################################
[include ./KAMP/Adaptive_Meshing.cfg]       # Adaptive meshing. Uncomment to enable.
                                            #   Add BED_MESH_CALIBRATE in print PRINT_START macro at apropirate place
[include ./KAMP/Line_Purge.cfg]             # Adaptive line purging. Uncomment to enable.
                                            #   Add LINE_PURGE in print PRINT_START macro. Place it at the end, so it is called right before the print starts, and the nozzle has been fully heated.
# [include ./KAMP/Voron_Purge.cfg]          # Adaptive Voron logo purging. Uncomment to enable.
                                            #   Add VORON_PURGE in print PRINT_START macro. Place it at the end, so it is called right before the print starts, and the nozzle has been fully heated.
# [include ./KAMP/Smart_Park.cfg]           # Smart Park function, parks the printhead near the print area for final heating. Uncomment to enable.
                                            #   Add Smart_Park near the end of your PRINT_START macro, before the final heating command is call.


################################################################################################
# Settings for KAMP 
################################################################################################
[gcode_macro _KAMP_Settings]
description: This macro contains all adjustable settings for KAMP 

# The following variables are settings for KAMP as a whole.
variable_verbose_enable: True               # Set to True to enable KAMP information output when running. This is useful for debugging.

# adaptive mesh:   The following variables are for adjusting adaptive mesh settings for KAMP.
variable_mesh_margin: 0                     # Expands the mesh size in millimeters if desired. Leave at 0 to disable.
variable_fuzz_amount: 0                     # Slightly randomizes mesh points to spread out wear from nozzle-based probes. Leave at 0 to disable.

# The following variables are for those with a dockable probe like Klicky, Euclid, etc.                  # ----------------  Attach Macro | Detach Macro
variable_probe_dock_enable: False           # Set to True to enable the usage of a dockable probe.       # --------------|----------------|---------------
variable_attach_macro: 'Attach_Probe'       # The macro that is used to attach the probe.                # Klicky Probe:   'Attach_Probe' | 'Dock_Probe'
variable_detach_macro: 'Dock_Probe'         # The macro that is used to store the probe.                 # Euclid Probe:   'Deploy_Probe' | 'Stow_Probe'
                                            #                                                            # Legacy Gcode:   'M401'         | 'M402'

# adaptive purge:   The following variables are for adjusting adaptive purge settings for KAMP.
variable_purge_height: 0.8                  # Z position of nozzle during purge, default is 0.8.
variable_tip_distance: 0                    # Distance between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
variable_purge_margin: 10                   # Distance the purge will be in front of the print area, default is 10.
variable_purge_amount: 30                   # Amount of filament to be purged prior to printing.
variable_flow_rate: 12                      # Flow rate of purge in mm3/s. Default is 12.

# smart park:   The following variables are for adjusting the Smart Park feature for KAMP, which will park the printhead near the print area at a specified height.
variable_smart_park_height: 10              # Z position for Smart Park, default is 10.

gcode: # Gcode section left intentionally blank. Do not disturb.
    {action_respond_info(" Running the KAMP_Settings macro does nothing, it is only used for storing KAMP settings. ")}
