################################################################################################
# File: light_management.cfg
# Author: Andreas
# Date: 20251017
# purpose: CHamber light and status bar (RGB light stripe) controll
#
# status light ideas: https://wiki.bambulab.com/en/h2/manual/status-indicator-light-meanings
#
#
################################################################################################



################################################################################################
# Chamber Light
#
# The chamber light PIN is defined in the x400.cfg file.
################################################################################################
[delayed_gcode _chamber_light_delayed_off]
#description: If called, teh chamber light will turn off after the provided amount of time
# Call with: UPDATE_DELAYED_GCODE ID=_chamber_light_delayed_off DURATION=300    # Schedule chamber light to turn off after 5 minutes (300s)
# Cancel with: UPDATE_DELAYED_GCODE ID=_chamber_light_delayed_off DURATION=0  # Cancel any pending chamber light delayed off
gcode:
    SET_PIN PIN=LED VALUE=0 


################################################################################################
# Status bar
################################################################################################
[gcode_macro _status_bar]
description: Calling the status bar animation functions
gcode:
    {%  set status = params.PS %}

    UPDATE_DELAYED_GCODE ID=_status_bar_delayed_idle DURATION=0     # Deactivate a possilble pending change of the status bar to idle.
  
    {% if status == "idle" %}
        _status_bar_idle
    {% elif status == "preparing" %}
        _status_bar_prepare
    {% elif status == "progress" %}
        _status_bar_progress
    {% elif status == "complete" %}
        _status_bar_complete
        UPDATE_DELAYED_GCODE ID=_status_bar_delayed_idle DURATION=3600     # Call macro which turns the status bar from complete to idl after 60 minutes.   
    {% elif status == "error" %}
        _status_bar_error
    {% elif status == "off" %}
        _status_bar_off

    {% elif status == "knightrider" %}
        _status_bar_knightrider
    {% elif status == "leftright" %}
        _status_bar_leftright
    {% elif status == "lrrl" %}
        _status_bar_lrrl

    {% else %}
        _status_bar_white
    {% endif %}

##############################################
[gcode_macro _status_bar_idle]
description: Idle
# Behavior: Purple light breathing slowly (when screen is on) or lights off (when screen is in sleep mode)
# Explanation: The printer is in an idle standby state and is not performing any tasks.
gcode:

##############################################
[gcode_macro _status_bar_prepare]
description: Prepare for Task
# Behavior: Orange light scrolling flow (base colour bright orange-yellow)
# Explanation: The printer is preparing for the print job, including task uploading, filament loading, auto-leveling, nozzle heating, and other pre-print operations.
gcode:

##############################################
[gcode_macro _status_bar_progress]
description: Task in progress
# Behavior: Purple indicator light shows progress bar
# Explanation: The print job is in progress. The indicator light dynamically displays the current print progress, helping users visually track the task.
gcode:
    _status_bar_progress_helper

##############################################
[gcode_macro _status_bar_complete]
description: Task completed
# Behavior: Green light stays on continuously
# Explanation: The print job has completed successfully. The status light will remain solid green until the "Print Finished" message is closed on screen or there is a door status change (such as opening the front door, top cover, or side panels).
gcode:
# Turn light off after 1h

##############################################
[gcode_macro _status_bar_error]
description: Error
# Behavior: Red light flashing twice rapidly (double flash)
# Explanation: An error has occurred during printing. The red light will keep double flashing until the error popup is dismissed by the user.
gcode:

##############################################
[gcode_macro _status_bar_white]
description: off
# Behavior: Turn the light white
# Explanation: -:-
gcode:

##############################################
[gcode_macro _status_bar_off]
description: off
# Behavior: Turn the light off
# Explanation: -:-
gcode:


################################################################################################
[delayed_gcode _status_bar_delayed_off]
#description: If called, the status light will turn off after the provided amount of time
# Call with: UPDATE_DELAYED_GCODE ID=_status_bar_delayed_off DURATION=300    # Schedule chamber light to turn off after 5 minutes (300s)
# Cancel with: #UPDATE_DELAYED_GCODE ID=_status_bar_delayed_off DURATION=0  # Cancel any pending status bard delayed off
gcode:
    _status_bar_off

##############################################
[delayed_gcode _status_bar_delayed_idle]
#description: If called, the status bard will change to idle after the provided amount of time
# Call with: UPDATE_DELAYED_GCODE ID=_status_bar_delayed_idle DURATION=3600    # Schedule chamber light to turn off after 60 minutes (3600s)
# Cancel with: #UPDATE_DELAYED_GCODE ID=_status_bar_delayed_idle DURATION=0  # Cancel any pending status bard delayed off
gcode:
    _status_bar_idle

##############################################
[gcode_macro _status_bar_progress_helper]
description: Helper for the progress bar
gcode:
# Get current status in %
# Calculate how many LEDs must be on to represent the status
# Turn the lights on
# Wait
# --> Repeat: As lopp, OR let the macro call itself.
# ??? !!! Stop when 100%
# ??? !!! Avoid overwrite another stauts like complete or error


################################################################################################
# Fun
################################################################################################
##############################################
[gcode_macro _status_bar_knightrider]
description: Knightrider scan
# Behavior: Doing the Knightrider scan bar thing
# Explanation: n/a
gcode:

##############################################
[gcode_macro _status_bar_leftright]
description: Fun
# Behavior: Fill from left to right, empty from left to right
# Explanation: n/a
gcode:

##############################################
[gcode_macro _status_bar_lrrl]
description: Fun
# Behavior: Fill from left to right, empty from left to right - Then reverse
# Explanation: n/a
gcode:
