################################################################################################
# File: marlin_compatibility.cfg
# Author: Andreas
# Date: 20251019
# purpose: Macros taht mimik Marlin commands
# 
################################################################################################


################################################################################################
[gcode_macro M155]
# Mimics Marlin M155 command: Set auto-report interval for temperatures. This Klipper macro is mimicking that behavior, but using a timer to do custom stuff (like blink LEDs, log temps, update a screen, etc.)
description: Output temps on a schedule. (Mimics Marlin code)
variable_repeat_timer: 0
gcode:
  M117 M155 - Output temps on a schedule (Marlin compatibility)
  { action_respond_info("M155 - Output temps on a schedule - Marlin compatibility") }    # Send message to Klipper consol or UI
   
  {% if 'S' in params %}
    {% set seconds = params.S|int %}
    #RESPOND MSG="time in seconds:"{seconds}
    SET_GCODE_VARIABLE MACRO=M155 VARIABLE=repeat_timer VALUE={seconds}
    UPDATE_DELAYED_GCODE ID=respond_temp_timer DURATION={seconds}
  {% endif %}

#################################################
[delayed_gcode respond_temp_timer]
# Blinks the LED. As long M155 is executed
initial_duration: 0
gcode:
  # {% set time = params.VALUE|int %}
  # RESPOND MSG="time2 in seconds:"{params.REPEAT}%
  SET_PIN PIN=LED VALUE=0.0
  G4 P100
  SET_PIN PIN=LED VALUE=1
  G4 P100
  UPDATE_DELAYED_GCODE ID=respond_temp_timer DURATION={printer['gcode_macro M155'].repeat_timer}


################################################################################################
[gcode_macro M600]
description: Filament change (Mimics Marlin code)
  # Emulates Marlin M600 command for filament change
gcode:
   M117 M600 - filament change (Marlin compatibility)
   { action_respond_info("M600 - filament change - Marlin compatibility") }    # Send message to Klipper consol or UI
   PAUSE     # everything needed is defined there

################################################################################################
# G34
# G34 is a Marlin G-code for Z Stepper Auto-Alignment. Klipper has z_tilt
