################################################################################################
# File: optical_issue_detection.cfg
# Author: Andreas
# Date: 20251108
# Purpose: Otptical issue detection like: Object detection, Spaghetti detection, Printfailure detection
# 
# include in printer.cfg
################################################################################################

################################################################################################
# Object detection
################################################################################################
[gcode_shell_command DETECT_BED_OBJECT]
command: /home/mks/mainsail/all/bed_object.sh 
timeout:8
