###############################################################################################
# File: plr.cfg
# Author: Eryone / Andreas
# Date: 20250723 / 20250806
# purpose: PLR - Power Loss Recovery
#
# GitCode: It is NOT included in the printer.cfg
# On Printer: It is included in printer.cfg. Maybe via Eryone installation script.
#
################################################################################################
# Scripts I found:
# https://klipper.discourse.group/t/simple-power-loss-recovery/15534
#   https://github.com/3DCoded/klipper-simple-power-loss-recovery/tree/main
#   https://github.com/Travis90x/Klipper-configuration/tree/main/config/scripts/power-loss-recovery
# https://github.com/ankurv2k6/klipper-plr
#
################################################################################################
# Requirements:
# Hardware:
#   - AT24cxx Module (EEPROM with serial port I2C) needs to be connected to the "reserved serial port / USART3" on the SKIPR board.
# Files:
#   /klipper/klippy/extras/at24c_eeprom.py
#   ~/printer_data/scripts/plr.sh
#   ~/printer_data/config/plr.cfg
# Slicer settings:
#   Printer settings --> Machine G-code --> Machine start G-code - Add: RESUME_ENABLE
#   Printer settings --> Machine G-code --> Before layer change G-code - Add: LOG_Z H=[layer_z] L=[layer_height]
#
################################################################################################


################################################################################################
# Define the EEPROM module
################################################################################################
[at24c_eeprom]
    # Used to stores the last known state before power loss like Z-height. to an I²C EEPROM chip (likely an AT24C32 or similar)
    # at24c_eeprom needs the /klipper/klippy/extras/at24c_eeprom.py file (developed by eryone). This is copied during x400-software-pack/copy_configs.sh
i2c_software_scl_pin: PB10       # MCU UART3_TX - connection to Power loss recovery module: AT24cxx - CGPIO pin used as the SCL (clock) line of the I²C bus.
i2c_software_sda_pin: PB11       # MCU UART3_RX - Power loss recovery module: AT24cxx - GPIO pin used for the SDA (data) line of I²C communication.
address: 80                      # This is the I²C device address, written in decimal (not hex). 80 (decimal) = 0x50 (hex), which is the standard address for many AT24C-series EEPROMs.
speed: 100000                    # This sets the I²C bus speed to 100 kHz (standard mode).

################################################################################################
# Power-Loss Recovery
#################################################################################################
##############################################################################
[gcode_shell_command POWER_LOSS_RESUME]         # This runs a custom shell script (plr.sh)
command: ~/printer_data/scripts/plr.sh          # Runs the sh script.
timeout: 50                                     # Klipper waits for 5 seconds for the shell scriopt (plr.sh) to finish running.

##############################################################################
[gcode_macro PRINT_CONTINUE]
description: 
# Called where ???
gcode:
    _status_bar PS="progress"
    
    {% set z_pos = params.Z|default('1.4')|string %}                                                                # Looks for a macro parameter named Z. If not handed over during macro call set z_pos = 1.4.
    { action_respond_info("z_pos %s "%z_pos) }                                                                      # Klipper macro debug message
    ;{ action_respond_info("file_path %s "%printer.configfile.settings.virtual_sdcard.path ) }
    {% set file = params.FILE|default(printer.save_variables.variables.filename)|replace("'", "")|string %}         # Looks for a macro parameter named FILE and removes " ' ". If not handed over during macro call it ises the value of filename saved in variables.cfg and removes " ' "
    {% set file = file|replace("%20", " ")|string %}                                                                # replaces %20 with space
    {% set file_path =  "'"+printer.configfile.settings.virtual_sdcard.path +'/' + file +"'"  %}                    # creates variable
    { action_respond_info("file_path %s "%file_path) }                                                              # Klipper macro debug message
    
    RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_pos} {file_path}"                                            # Calls shell_command power_loss_resume with parameters. THe shell command is in PLR.cfg file.
    SDCARD_PRINT_FILE FILENAME="{file}" Z=1                                                                         # Starts the print-process with the file stored on the virtual_sdcard. Z=1 tells Klipper “this is a resume” (Only used internally or by resume macros)

##############################################################################
[gcode_macro RESUME_INTERRUPTED]
description: Reads saved Z-height and filename. Runs the shell command with those parameters. Starts printing plr.gcode (the recovered file)
# Called where ???
gcode:
    _status_bar PS="progress"
    
    ;{% set z_height = params.Z_HEIGHT|default(printer.save_variables.variables.power_resume_z)|float %}
    {% set z_height = printer.save_variables.variables.power_resume_z|string %}                                                             # Loads the last known Z height before power loss.
    {% set last_file = params.GCODE_FILE|default("%s/%s"%('~/printer_data/gcodes',printer.save_variables.variables.filename))|string %}     # Loads the path to the last printed file.
    ;{% if z_height < 1 %}
    ;   {% set z_str = (".%d"%(z_height*10))|string %}
    ;   { action_respond_info("%s" % (z_str|string)) }
    ;   RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_str} {last_file}"
    ;{% else %} 
    ;   {action_respond_info("%f"%(z_height|float))}
        RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_height} {last_file}"     # Runs sthe shell command and hands over the parameters {z_height} and {last_file}
    ;{% endif %}
    
    SDCARD_PRINT_FILE FILENAME={printer.save_variables.variables.filename} Z=1      # new in gitCode version 20280812
    ;{% set last_file =  ('%s/%s' %(default('~/printer_data/gcodes')|string,last_file)) %}
    ;RESPOND MSG="last_file_ is {last_file}"                                         # message that sends a string to your printer interfac     # commented out in gitCode version 20280812
    ;SDCARD_PRINT_FILE FILENAME=plr.gcode                                            # tells Klipper to start printing a file named plr.gcode from the virtual SD card.     # commented out in gitCode version 20280812


################################################################################################
# Macros executed by 
################################################################################################
##############################################
# [gcode_macro  M406]
# description: Writes Z position to EEPROM.
    # Custom macro by eryone.
    # Programm code in: ~/eryone-klipper-klippy-extras/at24c_eeprom.py
    # Call example: M406 D10 --> Output in console: write data: [0, 10, 0]

##############################################
[gcode_shell_command DATA_SYNC]
command: sync       # Runs the shell command.
                    # Write any data that’s still in RAM out to the storage device right now.
                    # sync forces that flushing process so that:
                    #   - All file system buffers are written to disk
                    #   - All metadata changes are committed
                    #   - The system's in-memory view of files matches the on-disk state
                    # Why you might use it:
                    #   - Before removing a USB drive or SD card to avoid data loss
                    #   - After a script that modifies critical files, to ensure they're really saved#
                    #   - Before running power-off commands on systems where you can't trust automatic flushing
timeout: 50         # Klipper waits for 5 seconds for the shell scriopt (plr.sh) to finish running.

##############################################
[gcode_macro RESUME_ENABLE]
description: Stores the current printfile name to the variable filename in the variables.cfg
# Called in Slicer: Machine start G-code.
gcode:  
    {% set fname = params.GCODE_FILE|default( printer.print_stats.filename)|string %}       # If the macro was called with GCODE_FILE=..., it uses that. If not, it defaults to the currently printing file, taken from printer.print_stats.filename.
    { action_respond_info("fname:%s" % (fname|string)) }
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE=0s
    M400
    SAVE_VARIABLE VARIABLE=filename VALUE="{fname}"     # stores the filename in Klipper's persistent memory using the [save_variables] mechanism.
    RUN_SHELL_COMMAND CMD=DATA_SYNC

##############################################
[gcode_macro LOG_Z]
description: Logs the current Z-height at every layer change.
# Called in the Slicer: Before layer change G-code.
gcode:
    {% set layer_height = params.L|default(0.2)|float %}                    # reads a parameter named L passed into the macro. If L was not provided, it defaults to 0.2 (common layer height). The result is converted to a float and stored in the variable layer_height.
    ;{% set z_pos = printer.gcode_move.gcode_position.z-layer_height %}     # Calculates the "safe resume" Z by subtracting a layer height
    {% set z_pos = params.H|default(0.2)|float %}
    ;RESPOND MSG="Current Z is {z_pos}"
    ;SAVE_VARIABLE VARIABLE=power_resume_z VALUE={z_pos}
    M406 D{(z_pos*10)|int}  # Custom Macro from eryone.
        # M406 D10 --> write data: [0, 10, 0]
        # M406 is programmed in ~/eryone-klipper-klippy-extras/at24c_eeprom.py
    ;RESUME_ENABLE 


################################################################################################
################################################################################################
# Menu on LCD Screen
##############################################################################
#[menu __main __sdcard __resumefailed]          # Defines a menu item for the printer's user interface to resume a failed print job from an SD card.
#type: command
#enable: {('virtual_sdcard' in printer) and printer.virtual_sdcard.file_path and printer.save_variables.variables.was_interrupted and not printer.virtual_sdcard.is_active}
#name: Resume failed
#gcode: RESUME_INTERRUPTED GCODE_FILE={printer.virtual_sdcard.file_path}

##############################################################################
# Defined in x400.cfg
##############################################################################
#[force_move]
#enable_force_move: True         # Allows manual or scripted moves without standard safety checks (like homing). Necessary when resuming a print after power loss without rehoming.

#[virtual_sdcard]
#path: /home/octoprint/.octoprint/uploads

#[save_variables]
#filename = /media/usb1/variable.cfg

#[respond]           # Macros can send messages to the userinterface like mainsail via RESPOND
#verbose: True      # enable detailed logging
